server/learning_handler/__pycache__
server/request_handler/__pycache__
server/learning_handler/datasets/*.zip
server/learning_handler/datasets/*.zip
server/learning_handler/models/*.keras
server/uploads/*.jpg
server/uploads/*.JPG
client/
server/__pycache__
server/model_details.json
README.md
screenshots/
.expo/
.git/
.gitignore
.vscode
server/learning_handler/datasets/New*